:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.3rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 153, 0, 0.5), rgba(255, 158, 9, 0.5));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: #ff9e09;
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown) !important;
}

.navbar {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 1;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.2rem !important;
  border-bottom: 1px solid black;
}

.navbar-toggler {
  /* display: inline; */
  border: 1px solid var(--mainGrey);
  border-radius: 5%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a {
  color: var(--mainDark);
}

.footer {
  background: var(--mainBrown);
}

.menu {
  background: var(--mainGrey);
}
